$header-height: 34px;
$toolbar-height: 40px;
$formula-height: 24px;
$base-row-height: 24px;
$dashboard-header-height: 64px;

$info-cell-width: 40px;
$base-cell-width: 120px;

$border-color-base: #c0c0c0;
$border-color-light: #e2e3e3;

$brand-color-base: green;
$brand-color-light: #e8f6e8;
